@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'PT Sans Narrow', sans-serif;
}
:root{
--clr: rgb(217,25,33);
--text:#FFFFFF;
--subtext:#737373;
--bgform:#333333;
}
body{
    background-image:linear-gradient(180deg, rgba(230,138,68,0) 0%, rgba(15, 21, 19, 0.555) 0%), url(./bg.png);
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
header img{
    width: 170px;
    display: flex;
    padding: 20px 50px;
}

    
.login-div{
    background-color: rgba(0, 0, 0, 0.603);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    min-height: 615px;
    width: 460px;
}

.login-div h1{
    color: var(--text);
    display: flex;
    justify-content: left;
    text-align: justify;
    align-items: center;
    margin-top: 40px;
    margin-left: 55px;
    font-size: 2.1em;
    letter-spacing: 2px;
}
.input-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.input-text input{
    border: 0px;
    margin: 20px;
    width:100%;
    border-radius: 4px 4px;
    font-size: 1em;
    width: 280px;
    padding: 15px 23px;
    background-color: var(--bgform);
    font-family: 'PT Sans Narrow', sans-serif;
}
button{
    background-color: var(--clr);
    color: var(--text);
    padding: 13px 30px;
    border: 5px black;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 20px auto 4px;
    font-size: 0.8em;
    letter-spacing: 2px;
    width: 70%;
}

.remember-div{
    display: flex;
    color: var(--subtext);
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    letter-spacing: 1px;
}
.remember-div a{
    color:var(--subtext);
    text-decoration: none;
    letter-spacing: 0.4px;
}
.help{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 1.1em;
    color: var(--subtext);
    letter-spacing: 0.5px;
}
.help a{
    color: var(--text);
    text-decoration: none;
    letter-spacing: 1px;
}

.captcha{
color: var(--subtext);
display: block;
padding: 40px;
margin: auto;
}

footer{
    padding: 30px;
    margin-top: 80px;
    letter-spacing: 0.5px;
    display: flex;
    color:var(--subtext);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color:#000000b6;
}
footer li{
    display: inline-block;
    padding: 20px;
}

@media (max-width:560px){
    footer{
        margin-top: 15px;
        display: none;
    }

    header img{
        width: 100px;
    }
    .login-div{
        max-width: 100%;
        min-height: fit-content;
    }
}